<div class="container">
  <div class="form-group">
    Nom<br>
    <input [(ngModel)]="compte.nom" placeholder="Saisir nom"><br><br>
    Prenom<br>
    <input [(ngModel)]="compte.prenom" placeholder="Saisir prenom"><br><br>
    Numero<br>
    <input [(ngModel)]="compte.numero" placeholder="Saisir numero"><br><br>
    Email<br>
    <input [(ngModel)]="compte.email" placeholder="Saisir email"><br><br>
    Password<br>
    <input [(ngModel)]="compte.password" placeholder="Saisir password"><br><br>
  </div>

  <div class="form-group">
    <button class="btn btn-success" (click)="inscription()">Valider</button>
    <button class="btn btn-warning" [routerLink]="['/home']" routerLinkActive="active">Annuler</button>
  </div>

</div>
