<div class="container">
  <a [routerLink]="['/produit','add']">Ajouter Produit</a>
  <h2>Liste des sandwichs</h2>

  <div class="row">
    <div *ngFor="let s of sandwichs">
      <div class="crew col-lg-3">
        <table>
          <tr><th [attr.colspan]="s.libelle.length">{{s.libelle}}</th></tr>
          <tr><td>{{s.photo}}</td></tr>
          <tr><td>{{s.description}}</td></tr>
          <tr>
            <td>{{s.taille}}</td>
            <td>{{s.prix}}</td>
            <td><input class="champ" type="number"></td>
            <td><a href="" class="btn btn-outline-success"> OK </a></td>
          </tr>
          <!--          <tr><button class="btn-outline-primary" (click)="update(v.prix)">modifier</button></tr>-->
          <tr><td><button class="btn-outline-primary" (click)="delete(s.id)">supprimer</button></td></tr>
        </table>
      </div>
    </div>
  </div>

</div>



