<body>
  <header>
    <div id="header" class="row">
      <img id="logo" src="../assets/images/logo.png">

      <div class="col-10">
        <p id="nomSite">On a faim</p>
      </div>

      <div class="col-2">
        <ng-container *ngIf="!token">
          <li><a id="btnConnect" class="btn btn-light" [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
          <li><a id="btnSignOn0" class="btn btn-light" [routerLink]="['/inscription']" routerLinkActive="active">Inscription</a>
          </li>
        </ng-container>

        <ng-container *ngIf='role== "ROLE_CLIENT"'>
          <div class="dropdown" id="MenuClient">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuClient" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mon compte
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuClient">
              <a class="dropdown-item" [routerLink]="['/monPanier']" routerLinkActive="active">Mon panier</a>
              <a class="dropdown-item" [routerLink]="['/listCommande']" routerLinkActive="active">Mes commandes</a>
              <a class="dropdown-item" href="#">Mes devis</a>
              <app-logout></app-logout>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf='role== "ROLE_ADMIN"'>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Admin
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuAdmin">
              <a class="dropdown-item" href="#">Gestion clients</a>
              <a class="dropdown-item" href="#">Gestion commandes</a>
              <a class="dropdown-item" href="#">Gestion devis</a>
              <app-logout></app-logout>
            </div>
          </div>
        </ng-container>


      </div>
    </div>

  </header>

  <nav>
    <ul id="nav">
      <li><a class="nav-link" style="color: white" [routerLink]="['/home']" routerLinkActive="active">Accueil</a></li>
      <li><a class="nav-link" style="color: white" [routerLink]="['/sandwich']" routerLinkActive="active">Sandwich</a></li>
      <li><a class="nav-link" style="color: white" [routerLink]="['/viennoiserie']" routerLinkActive="active">Viennoiserie</a></li>
      <li><a class="nav-link" style="color: white" [routerLink]="['/gateau']" routerLinkActive="active">Gateau</a></li>
      <li><a class="nav-link" style="color: white" [routerLink]="['/boisson']" routerLinkActive="active">Boisson</a></li>
    </ul>
  </nav>

  <div id="content">
  <router-outlet></router-outlet>
  </div>

  <!--<footer>
    AJC-INGENIERIE/SOPRA STERIA
  </footer>-->
</body>
