<header>
  mon super header avec une belle photo
</header>
<nav>
  <ul id="menu">
    <li><a [routerLink]="['/home']" routerLinkActive="active">Accueil</a></li>
    <li><a [routerLink]="['/sandwich']" routerLinkActive="active">Sandwich</a></li>
    <li><a [routerLink]="['/viennoiserie']" routerLinkActive="active">Viennoiserie</a></li>
    <ng-container *ngIf="!token">
      <li><a [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
      <li><a [routerLink]="['/inscription']" routerLinkActive="active">Inscription</a></li>
    </ng-container>
    <li><a *ngIf="token" [routerLink]="['/panier']" routerLinkActive="active">Panier</a></li>
    <app-logout *ngIf="token"></app-logout>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  mon footer
</footer>
