<h2>Ajouter un produit</h2>
<hr>
<br>

<div class="container" style="width: 500px;">
  <form>
    <fieldset>
      <div class="form-group">
        <label>Type produit : </label>
        <select name="type" class="form-control" [(ngModel)]="produit.type">
          <option *ngFor="let typ of typesProd" [value]="typ">{{typ}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Libelle</label>
        <input class="form-control" name="libelle" maxlength="25" [(ngModel)]="produit.libelle" placeholder="Saisir nom produit">
      </div>

      <div class="form-group">
        <label>Taille produit</label>
        <select name="taille" class="form-control" [(ngModel)]="produit.taille">
          <option *ngFor="let taille of tailles" [value]="taille">{{taille}}</option>
        </select>
      </div>

      <label>Prix</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Amount (to the nearest euro)" name="prix"  [(ngModel)]="produit.prix">
        <div class="input-group-prepend">
          <span class="input-group-text">€</span>
        </div>
      </div>

      <label>Photo</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="photo" name="Fichier" lang="fr" accept=".jpg,.jpeg,.gif,.png" />
        <label class="custom-file-label" for="photo">Selectionner un fichier</label>
      </div>
      <br/>
      <br/>
      <div class="form-group">
        <label>Description</label><br/>
        <textarea class="form-control" name="descrip" rows="3" [(ngModel)]="produit.description"></textarea>
      </div>
    </fieldset>
    <div id="btn">
      <button class="btn btn-light" id="btnSave" (click)="save()">enregistrer</button>
      <a class="btn btn-warning" [routerLink]="['/home']" routerLinkActive="active">annuler</a>
    </div>
  </form>
</div>


<!--<div class=""form-group>-->
<!--  nom: <input class="form-group" [(ngModel)]="salle.nom">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <button class="btn btn-outline-primary" (click)="save()">enregistrer</button>-->
<!--  <a [routerLink]="['/salle']" routerLinkActive="active" class="btn-outline-warning">annuler</a>-->
<!--</div>-->
