<div class="container">
  <h3>Ajouter un nouveau produit</h3>
  <form>
    <fieldset>
      <div class="form-group">
        <label>Type produit</label>
        <select id="type" class="form-control">
          <option selected="selected" value="choix">Choisir type</option>
          <option selected="selected" value="sandwich">Sandwich</option>
          <option selected="selected" value="viennoiserie">Viennoiserie</option>
          <option selected="selected" value="gateau">Gateau</option>
          <option selected="selected" value="boisson">Boisson</option>
        </select>
      </div>

      <div class="form-group">
        <label>Libelle</label>
        <input class="form-control" name="libelle" [(ngModel)]="produit.libelle" placeholder="saisir nom produit">
      </div>

      <div class="form-group">
        <label>Taille produit</label>
        <select id="taille" class="form-control">
          <option value="">Choisir taille</option>
          <option selected="selected" value="mini">Mini</option>
          <option selected="selected" value="maxi">Maxi</option>
          <option selected="selected" value="entier">Entier</option>
          <option selected="selected" value="demi">Demi</option>
          <option selected="selected" value="grand">Grand</option>
          <option selected="selected" value="petit">Petit</option>
          <option selected="selected" value="une_part">Une part</option>
        </select>
      </div>



      <div class="form-group">
        <label>Prix</label>
        <input class="form-control" name="prix" [(ngModel)]="produit.prix">
      </div>

      <div class="custom-file">
        <label>Photo</label><br/>
        <input type="file" class="custom-file-input" id="hFichier" name="hFichier" lang="fr" accept=".jpg,.jpeg,.gif,.png" />
        <label class="custom-file-label" for="hFichier">Sélectionner un fichier</label>
      </div>

      <div class="form-group">
        <label>Description</label><br/>
        <textarea class="form-control" name="descrip" rows="3" [(ngModel)]="produit.description"></textarea>
      </div>
    </fieldset>
    <button class="btn btn-outline-primary" (click)="save()">enregistrer</button>
    <a [routerLink]="['/home']" routerLinkActive="active" class="btn-outline-warning">annuler</a>
  </form>
</div>


<!--<div class=""form-group>-->
<!--  nom: <input class="form-group" [(ngModel)]="salle.nom">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <button class="btn btn-outline-primary" (click)="save()">enregistrer</button>-->
<!--  <a [routerLink]="['/salle']" routerLinkActive="active" class="btn-outline-warning">annuler</a>-->
<!--</div>-->
