<div class="container">
  <h3>Nouveau produit</h3>
  <form>
    <fieldset>
      <div class="form-group">
        <label>Type produit</label>
        <select id="type" class="form-control">
          <option value="">Choisir type</option>
          <option value="sandwich">Sandwich</option>
          <option value="viennoiserie">Viennoiserie</option>
          <option value="gateau">Gateau</option>
          <option value="boisson">Boisson</option>
        </select>
      </div>

      <div class="form-group">
        <label>Libelle</label>
        <input class="form-control" name="libelle" [(ngModel)]="produit.libelle" placeholder="croissant">
      </div>

      <div class="form-group">
        <label>Taille produit</label>
        <select id="taille" class="form-control">
          <option value="">Choisir taille</option>
          <option value="mini">Mini</option>
          <option value="maxi">Maxi</option>
          <option value="entier">Entier</option>
          <option value="demi">Demi</option>
          <option value="grand">Grand</option>
          <option value="petit">Petit</option>
          <option value="une_part">Une part</option>
        </select>
      </div>

      <div class="form-group">
        <label>Prix</label>
        <input class="form-control" name="prix" [(ngModel)]="produit.prix">
      </div>

      <div class="form-group">
        <label>Description</label><br/>
        <textarea class="form-control" name="descrip" rows="3" [(ngModel)]="produit.description"></textarea>
      </div>
    </fieldset>
    <button class="btn btn-outline-primary" (click)="save()">enregistrer</button>
    <a [routerLink]="['/home']" routerLinkActive="active" class="btn-outline-warning">annuler</a>
  </form>
</div>


<!--<div class=""form-group>-->
<!--  nom: <input class="form-group" [(ngModel)]="salle.nom">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <button class="btn btn-outline-primary" (click)="save()">enregistrer</button>-->
<!--  <a [routerLink]="['/salle']" routerLinkActive="active" class="btn-outline-warning">annuler</a>-->
<!--</div>-->
