<div class="container">
  <a href="" (click)="save()">ajouter produit</a>
  <h2>Liste des viennoiseries</h2>

  <div class="row">
    <div *ngFor="let v of viennoiseries;let i=index">
      <div class="crew col-lg-3">
        <table>
          <tr><th [attr.colspan]="v.libelle.length">{{v.libelle}}</th></tr>
          <tr><td>{{v.photo}}</td></tr>
          <tr><td>{{v.description}}</td></tr>
          <tr>
            <td>{{v.taille}}</td>
            <td>{{v.prix}}</td>
            <td><input class="champ" type="number" [(ngModel)]="quantite"></td>
            <td><a href="" class="btn btn-outline-success" (click)="send(i)"> OK </a></td>
          </tr>
<!--          <tr><button class="btn-outline-primary" (click)="update(v.prix)">modifier</button></tr>-->
          <tr><td><button class="btn-outline-primary" (click)="delete(v.id)">supprimer</button></td></tr>
        </table>
      </div>
    </div>
  </div>

</div>



