<h2>Mon panier</h2>
<hr>
<br>

<div class="container">
  <table class="table table-borderless">
    <tr>
      <th>indice</th>
      <th>libellé</th>
      <th>quantite</th>
      <th>prix</th>

    </tr>
    <tr *ngFor="let m of monPanierlist, let i = index">
      <td>{{m.indice}}</td>
      <td>{{m.produit.libelle}}</td>
      <td>{{m.quantite}}</td>
      <td>{{m.produit.prix}}</td>
      <td><button class="btn btn-danger" (click)="deleteLine(i)">Supprimer</button></td>
    </tr>
  </table>
  <br>
  <div>
      <p id="Total">Total de mon panier : {{prixTotal}}€</p>
  </div>
  <br>
  <div id="btn">
    <button id="btnValider" class="btn btn-success" (click)="validerPanier()">Valider mon panier</button>
    <button class="btn btn-danger" (click)="abandonnerPanier()">Abandonner le panier</button>
  </div>
</div>
